* {
  font-family: 'Cantarell', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cantarell', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Cantarell', sans-serif;
}
